*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
    font-weight:bold;
}

body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(48, 48, 49);
}

.calculator{
    padding:1.25rem;
    border:2px solid black;
    border-radius:1rem;
    box-shadow:0px 3px 15px rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,0.5);
}

input{
    width:320px;
    padding:24px;
    margin:10px;
    background-color:rgba(255,255,255,0.3);
    box-shadow:inset 0px 0px 8px rgba(0,0,0,0.4);
    font-size:52px;
    text-align:right;
    color:#fff;
    border:2px solid rgba(0,0,0,0.3);
    border-radius:16px;
    text-shadow:0px 1px 5px rgba(0,0,0,0.2);
    overflow-x: auto;
}

input::placeholder{
    color:#fff;
}

button{
    width:60px;
    height:60px;
    margin:10px;
    color:white;
    background-color:rgba(0,0,0,0.7);
    font-size:24px;
    cursor:pointer;
    border:1px solid rgba(255,255,255,0.2);
    border-radius:16px;
    text-shadow:0px 1px 5px rgba(0,0,0,0.2);
    box-shadow:-1px 2px 10px rgba(0,0,0,0.5);
}

button:hover{
    background-color:#f67c14;
    color:#fff;
}

button:active{
    transform:scale(0.97);
}

.ac,.del{
    font-size:20px;
}

.equalBtn{
    background-color:#f67c14;
    color:#fff;
}

.operator{
    color:#f67c14;
}
